{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if node %}
    {% if not node.title and node.has_parent %}
      <a href="{{ node.get_parent.permalink }}">
        {{ node.get_parent.title }}
      </a>
    {% else %}
      {{ node.title }}
    {% endif %}
  {% else %}
    {% trans "All nodes" %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <ul class="nav nav-pills pull-right">
      {% if node %}
      <li><a href="{% url node_update node.get_id %}">{% trans "Edit" %}</a></li>
      {% endif %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {% trans "Create new entry" %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {% for link, label in view.get_create_links %}
          <li><a href="{{ link }}">{{ label }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

  {% if children %}
    {% for child in children %}
    <div class="list-entry">
      [{{ child.created|date:"SHORT_DATE_FORMAT" }}]
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      <hr />
    </div>
    {% endfor %}
  {% else %}
    <p>{% trans "No entries found." %}</p>
  {% endif %}
{% endblock %}
