{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if node %}
{% if not node.title and node.has_parent %}
<a href="{{ node.get_parent.permalink }}">{{ node.get_parent.title }}</a>
{% else %}
{{ node.title }}
{% endif %}
{% else %}
{% trans "All nodes" %}
{% endif %}
{% endblock %}

{% block content %}
{% for child in children %}
<div class="list-entry">
  <h2><a href="{{ child.permalink }}">{{ child.title }}</a></h2>
  <p>{{ child.render_body|striptags|truncatewords:50 }}</p>
  <div class="comment-count">Number of comments: <em>{{ child.get_children_count }}</em></div>
  {% for comment in child.get_latest_children %}
  <div class="sub-comment">
    <p>{{ comment.render_body|striptags|truncatewords:20 }}</p>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}
