{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if node %}
    {% if not node.title and node.has_parent %}
      <a href="{{ node.get_parent.permalink }}">
        {{ node.get_parent.title }}
      </a>
    {% else %}
      {{ node.title }}
    {% endif %}
  {% else %}
    {% trans "All nodes" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if node and node.title %}
    <h1>{{ node.title }}</h1>
  {% endif %}

  <div class="row">
    <ul class="nav nav-pills pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {% trans "Create new entry" %}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {% if node %}
          <li><a href="{% url node_create_child node.get_id "link" %}">{% trans "Link" %}</a></li>
          <li><a href="{% url node_create_child node.get_id "article" %}">{% trans "Article" %}</a></li>
          <li><a href="{% url node_create_child node.get_id "discussion" %}">{% trans "Discussion" %}</a></li>
          <li><a href="{% url node_create_child node.get_id "question" %}">{% trans "Question" %}</a></li>
          <li><a href="{% url node_create_child node.get_id "screenshot" %}">{% trans "Screenshot" %}</a></li>
          {% else %}
          <li><a href="{% url node_create "link" %}">{% trans "Link" %}</a></li>
          <li><a href="{% url node_create "article" %}">{% trans "Article" %}</a></li>
          <li><a href="{% url node_create "discussion" %}">{% trans "Discussion" %}</a></li>
          <li><a href="{% url node_create "question" %}">{% trans "Question" %}</a></li>
          <li><a href="{% url node_create "screenshot" %}">{% trans "Screenshot" %}</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>

  {% if children %}
    {% for child in children %}
    <div class="list-entry">
      [{{ child.created|date:"SHORT_DATE_FORMAT" }}]
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      <hr />
    </div>
    {% endfor %}
  {% else %}
    <p>{% trans "No entries found." %}</p>
  {% endif %}
{% endblock %}
