{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}
{% if node %}
{% if not node.title and node.has_parent %}
<a href="{{ node.get_parent.permalink }}">{{ node.get_parent.title }}</a>
{% else %}
{{ node.title }}
{% endif %}
{% else %}
{% trans "All nodes" %}
{% endif %}
{% endblock %}

{% block content %}
{% if node %}
{{ node.body|restructuredtext }}

<hr />

<h2>{% trans "Create new comment" %}</h2>

<form method="post">
    {% csrf_token %}
    <p>{{ comment_form.body }}</p>
    <p><input type="submit" value="{% trans "Save" %}" /></p>
</form>
{% endif %}

{% for child in children %}
<hr />
{{ child.body|restructuredtext }}
<p><a href="{% url node_details child.get_id %}">{% trans "answer to this comment" %}</a></p>

{% for comment in child.get_children %}
<div class="sub-comment">{{ comment.body|restructuredtext }}</div>
{% endfor %}

{% endfor %}
{% endblock %}
