{% extends "base.html" %}
{% load i18n %}
{% load sboard %}

{% block title %}
  {% if node %}
    {% if not node.title and node.has_parent %}
      <a href="{{ node.get_parent.permalink }}">{{ node.get_parent.title }}</a>
    {% else %}
      {{ node.title }}
    {% endif %}
  {% else %}
    {% trans "All nodes" %}
  {% endif %}
{% endblock %}


{% block sidebar-items %}
  <li class="nav-header">{% trans "Sprendimas" %}</li>
  <li><a href="#">{% trans "Bendra informacija" %}</a></li>
  <li class="active"><a href="#">{% trans "Testas" %}</a></li>
{% endblock %}


{% block content %}
  <h1>{{ node.title }}</h1>

  {% block node_body %}
  {{ node.render_body }}
  {% endblock %}
  
  <div>
    {% for tag in node.tags %}
    <a href="{% url node tag %}"><i class="icon-tag"></i>{{ tag }}</a>
    {% endfor %}
  </div>
  
  <hr />

  {% block node_actions %}
  {% endblock %}
  
  {% block tag_form %}
  <h2>{% trans "Add tag" %}</h2>
  
  <form action="{% nodeurl node 'tag' %}" method="post">
    {% csrf_token %}
    <p>{{ tag_form.tag.errors }}{{ tag_form.tag }}</p>
    <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
  </form>
  {% endblock %}
  
  <hr />
  
  <h2>{% trans "Create new comment" %}</h2>
  
  <form action="{% nodeurl node 'comment' %}" method="post">
    {% csrf_token %}
    {% if comment_form.body.errors %}
    <p>{{ comment_form.body.errors }}</p>
    {% endif %}
    <p>{{ comment_form.body }}</p>
    <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
  </form>

  {% if comments %}
    <h2>{% trans "Comments" %}</h2>
    <hr />
    {% for comment in comments %}
    <div class="list-entry">
      [<a href="{{ comment.permalink }}">{{ comment.created|date:"SHORT_DATE_FORMAT" }}</a>]
      {{ comment.render_body }}
      <hr />
    </div>
    {% endfor %}
  {% else %}
    <p>{% trans "No comments." %}</p>
  {% endif %}
{% endblock %}
